---
import Layout from "@/layouts/Layout.astro";
import { projects } from "@/data/projects"
---
<Layout title="Dev Mohib | Projecta">
    <div class="pt-28 lg:px-10 px-4 md:px-5">
        <h1 class="text-2xl font-bold my-10">Featured Projects</h1>
        {
        projects.map((project, index) => 
            <div class={`flex flex-col ${index % 2==0 ? 'lg:flex-row' : 'lg:flex-row-reverse'} lg:flex-row lg:h-[300px] mb-10 rounded-lg`}>
                <div class="lg:w-1/2 h-[300px] flex-r-c">
                    <img class="h-[230px]" src={`/public/${project.image}`} />
                </div>
                <div class="lg:w-1/2 lg:h-[300px]">
                    <div class="flex-r-c [&_li]:py-2 [&_li]:text-base-100">
                        <div class="lg:px-10">
                            <h1 class="py-4 text-2xl font-bold">{project.title}</h1>
                            <ul class=" ">
                                {
                                    project.feature1.map(f => <li>{f}</li>)
                                }
                            </ul>
                            <a  target="_blank" href={project.link} class="btn !rounded-md my-4">Live</a>
                        </div>
                        <div class="lg:px-10 mt-14">
                            <ul>
                                {
                                    project.feature2.map(f => <li>{f}</li>)
                                }
                            </ul>
                            <a href={`projects/${project.slug}`} class="btn !bg-base-200 !rounded-md my-4">Read</a>
                        </div>
                    </div>
                </div>
            </div>
            )
        }
    </div>
</Layout>