---
import * as interfaces from '@lib/interfaces.ts'
import {
  getPosts,
  getAllPosts,
  getRankedPosts,
  getPostBySlug,
  getPostsByTag,
  getBlock,
  getAllTags,
  getAllBlocksByBlockId,
  downloadFile,
} from '@lib/notion/client.ts'
import {
  getPostLink,
  filePath,
  extractTargetBlocks,
  getFeaturedImagePath
} from '@lib/blog-helpers.ts'
import Layout from '@layouts/Layout.astro'

import PostDate from '@components/notion/PostDate.astro'
import PostTags from '@components/notion/PostTags.astro'
import PostTitle from '@components/notion/PostTitle.astro'
import PostBody from '@components/notion/PostBody.astro'
import PostRelativeLink from '@components/notion/PostRelativeLink.astro'
import BlogPostsLink from '@components/notion/BlogPostsLink.astro'
import BlogTagsLink from '@components/notion/BlogTagsLink.astro'
import styles from '@styles/blog.module.css'


export async function getStaticPaths() {
  const posts = await getAllPosts()
  return posts.map((post: interfaces.Post) => ({ params: { slug: post.Slug } }))
}

const { slug } = Astro.params

const post = await getPostBySlug(slug)
if (!post) {
  throw new Error('Post not found. slug: ${slug}')
}

const [blocks, allPosts, rankedPosts, recentPosts, tags, postsHavingSameTag] =
  await Promise.all([
    getAllBlocksByBlockId(post.PageId),
    getAllPosts(),
    getRankedPosts(),
    getPosts(5),
    getAllTags(),
    getPostsByTag(post.Tags[0]?.name, 6),
  ])

const fileAtacchedBlocks = extractTargetBlocks('image', blocks)
  .concat(extractTargetBlocks('file', blocks))
  .filter((block) => {
    if (!block) {
      return false
    }
    const imageOrFile = block.Image || block.File
    return imageOrFile && imageOrFile.File && imageOrFile.File.Url
  })

// Download files
await Promise.all(
  fileAtacchedBlocks
    .map(async (block) => {
      const expiryTime = (block.Image || block.File).File.ExpiryTime
      if (Date.parse(expiryTime) > Date.now()) {
        return Promise.resolve(block)
      }
      return getBlock(block.Id)
    })
    .map((promise) =>
      promise.then((block) => {
        let url!: URL
        try {
          url = new URL((block.Image || block.File).File.Url)
        } catch (err) {
          console.log('Invalid file URL')
          return Promise.reject()
        }
        return Promise.resolve(url)
      })
    )
    .map((promise) => promise.then(downloadFile))
)

const currentPostIndex = allPosts.findIndex((post) => post.Slug === slug)
const prevPost = allPosts[currentPostIndex + 1]
const nextPost = allPosts[currentPostIndex - 1]

let ogImage = ''
if (post?.FeaturedImage && post?.FeaturedImage?.Url) {
  ogImage = new URL(filePath(new URL(post.FeaturedImage.Url)), Astro.site).toString()
}
---

<Layout
  title={post.Title}
  description={post.Excerpt}
  path={getPostLink(post.Slug)}
  ogImage={ogImage}
>
<div class="bg-base-200 md:px-[10%] lg:px-[15%] px-3">
  <div class="py-20">
    <div class={styles.post}>
      <!-- <PostDate post={post} /> -->
      <div class="w-full my-3">
        <img class="rounded-t-lg w-full" src={getFeaturedImagePath(post)} alt="Featured image of the post" />
      </div>
      <PostTags post={post} />
      <PostTitle post={post} enableLink={false} />
      <PostBody blocks={blocks} />
      <div class="mt-16">
        <h1 class="text-2xl text-white mb-5">Tags</h1>
        <PostTags post={post}  />
      </div>

      <!-- Next/Previous Post -->
      <!-- <PostRelativeLink prevPost={prevPost} nextPost={nextPost} /> -->
      
    </div>
  </div>

  <div>
    <BlogPostsLink
      heading="Posts in the same category"
      posts={postsHavingSameTag.filter(
        (p: interfaces.Post) => p.Slug !== post.Slug
      )}
    />
    <!-- <div>
      <h1 class="text4xl text-white font-inter my-5">Posts in the same category</h1>
      {
        postsHavingSameTag.filter(post => <BlogCard post={post}/>)
      }
    </div> -->
    <!-- <BlogPostsLink heading="Recommended" posts={rankedPosts} />
    <BlogPostsLink heading="Latest posts" posts={recentPosts} />
    <BlogTagsLink heading="Categories" tags={tags} /> -->
  </div>
</div>
</Layout>
