---
import { filePath } from '@/lib/blog-helpers'
import type { Post, SelectProperty } from "@/lib/interfaces"
import { getDateStr, getTagLink, getPostLink } from '@/lib/blog-helpers.ts'
export interface Props {
  post: Post,
  enableLink? : boolean
}

const { post, enableLink } = Astro.props
let image = ''
if (post?.FeaturedImage?.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post?.FeaturedImage?.Url??""))
  }
}
---

<div class="bg-base-200 shadow-md border-none rounded-lg max-w-xs m-5">
    <img class="rounded-t-lg h-56 w-full" src={image} alt="Featured image of the post" />
    <div class="p-5">
    <h5 class="font-bold text-2xl tracking-tight mb-2">{post.Title}</h5>
    <p class="font-normal mb-3">{post.Excerpt ? post.Excerpt : ''}</p>
    <div>
    {
        post.Tags && post.Tags.length > 0 &&
            post.Tags.map((tag: SelectProperty) => {
            if (enableLink) {
                return (
                        <a href={getTagLink(tag.name)} class={`tag ${tag.color} mx-1 px-1 py-0.5`}>
                            {tag.name}
                        </a>
                )
            }
            return <span class={`tag ${tag.color} mx-1 px-1 py-0.5`}>{tag.name}</span>
            // return <span class={`tag ${tag.color}`} class="p-1">{tag.name}</span>
            })
        }
    </div>
        <!-- <p>{post.Date ? getDateStr(post.Date) : ''}</p> -->
        <br />
        <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center" href={getPostLink(post.Slug)}>
            Read more
        </a>
    </div>
</div>